<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Welcome</title>
</head>

<body>
	<h3>Angelito Tuguinay</h3>

	<header>
		<link rel="stylesheet" type="text/css" href="main.css">
		<nav>
			<ul>
				<li href="/websites">Websites</li>
				<li href="/androidapps">Android Apps</li>
				<li href="/contact">Contact me</li>
				<li href="/github">GitHub</li>
			</ul>
		</nav>
	</header>
	
	<section>
	
		<article class="skills">
			<header>
				<h2>Skills</h2>
				<p>Skill 1</p>
				<p>Skill 2</p>
				<p>Skill 3</p>
				<p>Skill 4</p>
			</header>
		</article>
		
		<article>
			<header>
				<h2>More info</h2>
				<p>Info 1</p>
				<p>Info 2</p>
			</header>
		</article>
		
	</section>

	<aside>
		<h2>About section</h2>
		<p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	</aside>

	<footer>
		<p>Copyright 2009 Your name</p>
	</footer>

</body>

</html>