<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Welcome</title>
</head>

<body>
	<h3>ANGELITO TUGUINAY</h3>
	<link rel="stylesheet" type="text/css" href="main.css">

	<hr>

	<div class="header">
		
			<div class="links">
				<p><a href="websites.html">Websites</a></p>
				<p><a href="androidapps.html">Android Apps</a></p>
				<p><a href="contact.html">Contact me</a></p>
				<p><a href="github.html">GitHub</a></p>
			</div>

			<div class="div1">
				<div class="div2">
					<img src="background.jpg" class="image"/>
					<p>Words and other stuff that dont really matter and many not read.</p>
					<p>More of the things that people dont really read and will most likely skim over.</p>
			</div>
	</div>

	<section>
	
		<article class="skills">
			<header>
				<h2>Skills</h2>
				<p>Skill 1</p>
				<p>Skill 2</p>
				<p>Skill 3</p>
				<p>Skill 4</p>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</header>
		</article>
		
		<article class="info">
			<header>
				<h2>More info</h2>
				<p>Info 1</p>
				<p>Info 2</p>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</header>
		</article>
		
	</section>

	<aside>
		<h2>About section</h2>
		<p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	</aside>

	<footer>
		<p>Copyright 2009 Your name</p>
	</footer>

</body>

</html>