<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index2.css">
	    <title>Index 2</title>
    </head>
    
    <body>
        <img src="forest-background.gif" alt="mmtuts banner">
        <div class="wrapper">
            <article class="img-info">
                <h2>Image</h2>
                <p>Image information to read.</p>
            </article>
            <img src="background4.jpg" alt="background 4">
        </div>
        <h3>Index 2</h3>
    </body>
</html>