<!DOCTYPE HTML>

<html>

<head>
	<meta name="viewport" http-equiv="Content-Type" content="text/html; charset=UTF-8 width=device-width, initial-scale=1" />
	<title>Welcome</title>

	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Chela+One&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
</head>

<body>
	<h3>ANGELITO TUGUINAY</h3>
	<div class="transition transition3 is-active"></div>
	

	<div class="header">
		
			<div class="links">
				<p><a href="websites.html" class="custom-underline">Websites</a></p>
				<p><a href="androidapps.html" class="custom-underline">Android</a></p>
				<p><a href="contact.html" class="custom-underline">Contact me</a></p>
				<p><a href="github.html" class="custom-underline">GitHub</a></p>
			</div>

			<div class="div1">
					<img src="background.jpg" class="image"/>
					<div class="short">
						<p>Words and other stuff that dont really matter and many not read.</p>
						<p>More of the things that people dont really read and will most likely skim over.</p>
					</div>
			</div>
	</div>

	<footer>
		<p>Copyright 2021 Angelito Tuguinay</p>
	</footer>
	<script src="transition.js"></script>
</body>

</html>