html, body {
    width: 100%;
    height:100%;
  }
  
body{
    background-color: rgb(186, 224, 211);
    background-image: url("background5.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
}

body::-webkit-scrollbar{
    width: 0 !important
}

.links, .div1{
    padding-top: 0;
    margin-top: 0;
}

/*--------------------------------------------------H3---------------------------------------------------------------------*/
h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    transition-timing-function: ease-out;
    transition: .4s;
    margin: 0;
    font-size: 20px;
    text-align: center;
}

h3:hover{
    transition-timing-function: ease-in;
    transition: .4s;
    text-shadow: 1px 1px rgba(47, 65, 71, 0.384);
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    z-index: 100;
}

hr{
    margin:0;
}


.header::after{
    padding-top: 50%;
    display: block;
}


/*--------------------------------------------------UL---------------------------------------------------------------------*/

/* custom underline animation */
.custom-underline{
    position: relative;
    display: inline-block;
    font-weight: 400;
    text-align: left;
}
.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  text-decoration: none;
}
.custom-underline::after {
    content: "";
    position: absolute;
}

.links .custom-underline::after {
    top: 100%;
    height: 2px;
    width: 0%;
    left: 0%;
    background-color: rgba(255, 214, 168, 0.808);
    transition: 0.5s ease all .1s;
  }
  
p:hover .custom-underline::after {
    width: 90%;
    transition: 0.5s ease all;
  }


.links, .div1{
    display: inline-block;
    vertical-align: top;
}

.links{
    /* padding-top: 100px;
    font-family: 'Chela One', cursive;
    font-weight: 900;
    list-style-type: none;
    font-size: 60px;
    padding-left: 150px;
    padding-bottom: 100px;
    height: 500px;
    width: 400px; */

    padding-top: 100px;
    font-family: 'Chela One', cursive;
    list-style-type: none;
    font-size: 50px;
    padding:100px;
    padding-left: 200px;
    height: 40%;
    width: 10%;
}

a:link, a:visited{
    color: black;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

.short{
    font-size: 30px;
}

p{
    text-align: left;
    text-decoration: none;
    transition-timing-function: ease-out;
    transition: .4s;
    width: 300px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.151),
    10px 20px 5px rgba(0, 0, 0, 0.164),
    -10px 20px 5px rgba(0, 0, 0, 0.137);
    transform: scale(1);
    display: inline-block;
}

.short{
    display: inline-block;
    vertical-align: top;
    padding-left: 50px;
}

p:hover{
  transition-timing-function: ease-in;
  transition: .4s;
  text-shadow: 0px 0px rgba(0, 0, 0, 0.795),
  10px 20px 5px rgba(0, 0, 0, 0.164),
  -10px 20px 5px rgba(0, 0, 0, 0.719);
  transform: scale(1.2); 
}

a:active{
    color: whitesmoke;
    transition: all 0s ease-out;
}

/*--------------------------------------------------------DIV-----------------------------------------------------------*/


.short {
    width: 100%;
    padding: 30px 30px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.short p {
    padding: 0 30px 20px;
    line-height: 24px;
}

.image {
    width: 100%;
}

/*//////////////////////////////////////// SCALE TO MOBILE DEVICES WITH MAX WIDTH 360PX*/
@media only screen and (max-width: 360px){

    .short p {
        font-size: 35px;
    }

    .img {
        padding-top: 30px;
    }

    .header {
        width: 100%;
    }

    .links {
        font-size: 30px;
        padding: 10px;
    }
    
}

.div1{
    display: inline-block;
    height: 500px;
    width: 800px;
    /* background-color: #7ccac8; */
    background-color: rgba(131, 128, 128, 0.39);
    /* padding: 80px; */
    margin: 100px;
    box-shadow: rgba(17, 17, 26, 0.205) 0px 8px 24px, rgba(17, 17, 26, 0.164) 0px 16px 56px, rgba(17, 17, 26, 0.185) 0px 24px 80px;
}


.div1:hover{
    transition-timing-function: ease-in;
    transition: .9s;
    transform: scale(2.5);
    box-shadow: rgba(17, 17, 26, 0.404) 0px 8px 24px, rgba(17, 17, 26, 0.418) 0px 16px 56px, rgba(17, 17, 26, 0.363) 0px 24px 80px;
}

.div1:hover{
    transition-timing-function: ease-in;
    transition: .9s;
    transform: scale(1.2);
}


.div1{
    transition-timing-function: ease-in-out;
    transition: .5s;
    transform: scale(1);
}

/*--------------------------------------------------------Section-----------------------------------------------------------*/
section article.skills{
    background-color: rgb(111, 233, 192);
}

section article.info{
    background-color: rgb(111, 160, 233);
}


/*--------------------------------------------------------Page Transitions-----------------------------------------------------------*/
.transition1{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    z-index:101;
    background-color: #48d1cc;
    opacity: 0;
    pointer-events: none;
    transition: .5s ease-out;
}

.transition1.is-active{
    opacity: 1;
    pointer-events: all;
}

.transition2{
    position: fixed;
    top:0;
    bottom: 0;
    left:-100%; /*transitioning from the left so left has to be one left-width to the left */
    width: 100%;
    right: 0;
    z-index:101;
    background-color: #48d1cc;
    transition: .5s ease-out;
}

.transition2.is-active{
    left: 0px;
}

.transition3{
    position: fixed;
    top:100%;
    height: 100%;
    left:0;
    right: 0;
    z-index:101;
    background-color: #48d1cc;
    transition: .5s ease-out;
}

.transition3.is-active{
    top:0;
}


