<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websites</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="main.css">
    <div class="transition transition3 is-active"></div>
</head>


<body>
    <h3>Websites</h3>
    <img src="background3.jpg" alt="LA" style="width:100%">

    <div class="">
        <h1>This is a Heading</h1>
        <p>This is a paragraph.</p>
        <p>This is another paragraph.</p>
    </div>
    <script src="transition.js"></script>
</body>

</html>